@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* font declaration */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  /* color palette https://colorhunt.co/palette/97bfb4f5eedcdd4a484f091d */
  --color-1: #97bfb4;
  --color-2: #f5eedc;
  --color-3: #dd4a48;
  --color-3-rgb: 221, 74, 72;
  --color-4: #4f091d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
  grid-column: 1 / -1;
  margin: 2rem 0;
  text-align: center;
  color: off-white;
}

h2 {
  text-align: center;
}

p {
  margin: 1.5rem 0;
}

.methods-container {
  margin: 2rem 0;
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;

}

.method {
  min-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
  border-radius: 2px;
  background-color: var(--color-2);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.method:hover {
  background-color: rgba(221, 72, 58, 0.65);
}

code {
  font-size: 1rem;
}

.output {
  margin-top: 2rem;
}

.output-value {
  font-weight: bold;
  font-size: 1.05rem;
}

.output-comment {
  font-size: 0.8rem;
}