* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
    width: 80%;
  /* position: absolute;
  top: 50%;
  transform: translate(0, -50%); */
}

.border {
    border-bottom: 1px solid white;
}

.display-container:first-child {
  background-color: grey;
  padding: 20px;
}

.display-container:first-child .display-types {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.display-container:first-child .display-types div {
  background-color: green;
  color: white;
  width: 33%;
  padding: 10px;
}

.display-container:nth-child(2) {
  background-color: lightblue;
  padding: 20px;
}

.display-container:nth-child(2) .display-types {
    background-color: red;
    padding: 10px;
  display: block;
}

.display-container:nth-child(2) .display-types div {
  background-color: darkblue;
  color: white;
  padding: 10px;
}

.display-container:nth-child(3) {
  background-color: lightpink;
  padding: 20px;
}

.display-container:nth-child(3) .display-types div, .display-container:nth-child(3) .display-types p {
  background-color: rebeccapurple;
  color: white;
  padding: 10px;
  display: inline;
}

.display-container:nth-child(4) {
  background-color: lightyellow;
  padding: 20px;
}

.display-container:nth-child(4) div {
  background-color: orangered;
  color: white;
  padding: 10px;
  display: inline-block;
}

