.container > div {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #ffeead;
}

html, body {
    background-color: #ffeead;
    margin: 10px;
}

.container > div:nth-child(1) {
    background-color: #96ceb4;
}

.container > div:nth-child(2) {
    background-color: #ff6f69;
}

.container > div:nth-child(3) {
    background-color: #88d8b0;
}

.container > div:nth-child(4) {
    background-color: #ff6f69;
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.subheading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1rem;
}

.spacer {
    height: 20px;
    background-color: white;
}