

:root {
  --bar-color: rgb(4,170,109);
  --main-color: rgb(255,255,255);
  --gray: rgb(231,233,235);
  --black: rgb(40,42,53);
  --light-green: rgb(217,238,225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baskervville', sans-serif;
}

#header {
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 /*  position: fixed; Set the navbar to fixed position */
  /* top: 0; Position the navbar at the top of the page */
  width: 100%;
  background-color: var(--bar-color);
  color: var(--main-color);
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}


#header-img {
  
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}


.nav-list {
  list-style: none;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/* Form section */

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#features {
  margin-top: 30px;
}

.grid {
  display: flex;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

.fa, .fas {
  font-weight: 900;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}

#features .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

#welcome-section {
  
  margin-top: 150px;
  margin-bottom: 150px;
}


h1 {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--black);
}

#welcome-section span {
  display: block;
  text-align: center;
  font-size: 1.15rem;
  color: var(--black);
}

#work {
  background-color: var(--gray);
}

h2 {
  display: block;
  margin-top: 30px;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: var(--black);
}


.work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.project-card {
  object-fit: cover;
}