/* variables */
:root {
  --color-light: #ff3e79;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-bottom: 14px;
  background: #f8f8f8;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.main-container h2 {
  margin: 0;
  padding: 16px 32px;
  background: linear-gradient(90deg, #f8f8f8 0%, #fff 98.61%);
  color: #7e7e82;
  font-family: "TT Lakes Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.main-container ul {
  width: 100%;
  list-style: none;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 240px);
  column-gap: 32px;
  row-gap: 16px;
  margin: 0;
  padding: 24px 32px 24px 32px;
}

.main-container ul li {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #fff;
}

/* .main-container ul li:nth-child(9),
.main-container ul li:nth-child(10),
.main-container ul li:nth-child(11) {
  display: none;
} */

.show-all-button {
  margin-top: 22px;
  padding: 0 32px;
  display: flex;
  align-items: center;
}

.show-all-button button {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background: #f8f8f8;
  height: 24px;
}

.show-all-button button img {
  transform: scaleY(-1);
}

.show-all-button p {
  margin: 0;
  padding: 0;
  margin-left: 7px;
  color: #1b1c21;
  font-family: "TT Lakes Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
}

/* arrow in circle for Tory's Figma */

.button-circle {
  height: 40px;
  width: 40px;
  border: 2px solid var(--color-light);
  border-radius: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-arrow {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
}

.button-arrow::before,
.button-arrow::after {
  content: "";
  position: absolute;
  background: var(--color-light);
  border-radius: 0.2rem;
  display: block;
  left: -5%;
  height: 25%;
  width: 110%;
  transform: rotate(-45deg);
}

.button-arrow {
  width: 0.667em;
}

.button-arrow::before {
  top: 80%;
}

.button-arrow::after {
  bottom: 80%;
  transform: rotate(45deg);
}
