.container {
    background-color: lightgray;
    border: 5px solid darkgrey;
}

.display-inline > div {
    display: inline;
}

.display-block > span {
    display: block;
}

.display-inline-block > div {
    display: inline-block;
}

.flex-items-centered {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-items-bottom-right {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}